# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json

# Kubernetes
kubeconfig

# Node/Python
node_modules/
__pycache__/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
